<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <title>Furukawa Hot Spring Resort | Home</title>
    </head>

    <body>
      <div class="container-fluid">
        <header id="header">
          <nav class="navbar navbar-expand-sm navbar-light fixed-top" id="nav-bar">
            <img class="nav-logo" id="header-img" src="http://i67.tinypic.com/212sux3.jpg">
            <a href="#" class="navbar-brand brand"> Furukawa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="#amenities" class="nav-link links">Amenities</a></li>
                <li class="nav-item"><a href="#media" class="nav-link links">Media</a></li>
                <li class="nav-item"><a href="#plans" class="nav-link links">Plans</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link links">Contact</a></li>
              </ul>
            </div>
          </nav>
        </header>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="splash-banner">
              <img class="splash-img" src="http://i65.tinypic.com/15dtfft.jpg">
              <div class="img-text">Experience a Part of Old Japan</div>
            </div>
          </div>
        </div>
        <div class="row" id="amenities">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="amenities-heading">Amenities</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="room">
              <img class="room-img" src="http://i66.tinypic.com/2i09g09.jpg">
              <div class="room-text">Traditional Rooms</div>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="meal">
              <img class="meal-img" src="http://i64.tinypic.com/5v3ryv.jpg">
              <div class="meal-text">Local Cuisine</div>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="bath">
              <img class="bath-img" src="http://i66.tinypic.com/2581jd4.jpg">
              <div class="bath-text">Natural Spring</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="nature">
              <img class="nature-img" src="http://i63.tinypic.com/k36oeu.jpg">
              <div class="nature-text">Surroundings</div>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="shopping">
              <img class="shopping-img" src="http://i66.tinypic.com/14wpd0.jpg">
              <div class="shopping-text">Shopping</div>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="tea">
              <img class="tea-img" src="http://i64.tinypic.com/m8p8xt.jpg">
              <div class="tea-text">Complimentary Tea</div>
            </div>
          </div>
        </div>
        <div class="row" id="media">
          <div class="col-md-12">
            <h1 class="media-heading">Media</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="inn-video embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/VHVZtf8vdeE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-6">
            <div class="hotspring-video embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/RCjHMFkuYE8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row" id="plans">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="plans-heading">Plans</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="room-type">
              <h1 class="room-header">Single</h1>
              <h6 class="room-desc">A single traveler's paradise</h6>
              <p class="price">¥13,000</p>
              <ul class="feature-list">
                <li>Single Futon Set</li>
                <li>Tea and Snacks for One</li>
                <li>A one-size-fits-all Robe</li>
                <li>42 inch TV</li>
                <li>Heated Table</li>
              </ul>
              <p class="misc-info">**No private restroom</p>
              <div class="btn-container">
                <button type="button" class="btn btn-danger select-btn">Select Plan</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="room-type">
              <h1 class="room-header">Double</h1>
              <h6 class="room-desc">A Romantic Couple's Getaway</h6>
              <p class="price">¥22,000</p>
              <ul class="feature-list">
                <li>Double Futon Set</li>
                <li>Tea and Snacks</li>
                <li>Two one-size-fits-all Robes</li>
                <li>42 inch TV</li>
                <li>Heated Table</li>
                <li>Private Restroom</li>
              </ul>
              <div class="btn-container">
                <button type="button" class="btn btn-danger select-btn">Select Plan</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="room-type">
              <h1 class="room-header">Family</h1>
              <h6 class="room-desc">Comfort for the Whole Family</h6>
              <p class="price">¥36,000</p>
              <ul class="feature-list">
                <li>Four Futon Sets</li>
                <li>Tea and Snacks for Everyone</li>
                <li>42 inch TV</li>
                <li>Heated Table</li>
                <li>Private Balcony</li>
                <li>Private Restroom</li>
              </ul>
              <div class="btn-container">
                <button type="button" class="btn btn-danger select-btn">Select Plan</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="contact">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="contact-heading">Contact</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h6>Please enter your email below for inquiries</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="contact">
              <form id="form" action="https://www.freecodecamp.com/email-submit">
                <label for="email">e-mail: </label>
                <input type="email" id="email" placeholder="jsmith@example.com">
                <button type="button" id="submit" class="btn btn-danger submit-btn">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="footer">
              <p>Created by: <a href="https://github.com/jpriggs">Jason Rigdon</a></p>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
